.enter {
  opacity: 0;
  transform: translateX(200%);
}
.enterActive {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
.exit {
  transform: translateX(0%);
  opacity: 1;
}
.exitActive {
  transform: translateX(200%);
  opacity: 0;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}
